*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, #hero, footer {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color:#e5e7eb;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-text {
    text-align: center;
    max-width: 50%;
    padding: 1rem;
}

#hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

#hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

#hero-image {
    max-width: 50%;
    padding: 1rem;
}

footer {
    margin-top: auto;
}