*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: #1f2937;
    --text-light: #f9faf8;
    --text-muted: #e5e7eb;
    --accent-blue: #3882f6;
}


html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;
}


header, #hero, footer {
    background-color: var(--bg-dark);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 24px;
    color: var(--text-light);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-muted);
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-text {
    text-align: center;
    max-width: 50%;
    padding: 1rem;
}

#hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--text-light);
}

#hero-text p {
    color: var(--text-muted);
    font-size: 18px;
}

#hero-image {
    max-width: 50%;
    padding: 1rem;
}

footer {
    margin-top: auto;
}